.CategoryTabs{
    padding: 20px 0 20px 0;
    font-size: 20px;
}
.container{
    margin: 0 auto;
    flex-wrap: wrap;
    display: flex;
    gap: 20px;
    justify-content: space-around;
}
.item__btn{
    text-align: center;
    border-radius: 0;
    width: 140px;
    font-size: 22px;
    color: white;
    font-family: "Poppins", sans-serif;
    background: none;
    border: none;
    border-bottom:1px solid transparent;
    cursor: pointer;
}
.item__btn:hover{
    color: white;
    border-bottom:1px solid #933C24;
}
.item__btn:active{
    background: none;
}
.item__btn:focus{
    outline: none;
}

@media(max-width: 1080px){
    .container{
        gap: 10px;
    }
    .item__btn{
        width: 120px;
        font-size: 16px;
        padding-bottom: 0;
    }
}