.MobileContainer {
    width: 100%;
    position: fixed;
    height: 70px;
    margin: 0 auto;
    display: none;
    justify-content: space-around;
    align-items: center;
    z-index: 99;
    background-color: black;
}

.burgerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    z-index: 10;
}
.burger{
    width: 25px;
    height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    z-index: 10;
}
.burger span{
    height: 3px;
    width: 100%;
    background-color: #E9BD8C;
    border-radius: 3px;
    transition: 0.3s;
    z-index: 8;
}
/* animation */
.active span:nth-child(1){
    transform: rotate(45deg) translate(5px, 5px);
}
.active span:nth-child(2){
    opacity: 0;
}
.active span:nth-child(3){
    transform: rotate(-45deg) translate(6px, -6px);
}
/* overlay */
.overlay{
    position: fixed;
    inset: 0;
    background: rgba(15, 15, 15, 0.95);
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
    z-index: 4;
}
.show {
    opacity: 1;
    visibility: hidden;
}
.menu{
    margin-top: 69px;
    position: fixed;
    top: 0;
    left: -100%;
    width: 200px;
    height: 100vh;
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
    transition: 0.4s ease;
    z-index: 5;
}
.menu ul{
    list-style: none;
    padding: 0;
    text-align: center;
}
.ul{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.link{
    width: 200px;
    padding-bottom: 10px;
    color: #E9BD8C;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    font-family: "Poppins", sans-serif;
}
.link:hover{
    transition: all 0.5s;
    transform: scale(1.1);
    color: #E9BD8C;
}
/* open menu */
.open{
    left: 0;
}
.logo {
    width: 180px;
    height: 70px;
    filter: brightness(0) saturate(100%) invert(78%) sepia(31%) saturate(511%) hue-rotate(344deg) brightness(94%) contrast(90%);
    object-fit: cover;
}
/* time */
.timeContainer{
    padding: 10px;
}
.time{
    font-size: 18px;
    color: #E9BD8C;
}
@media(max-width: 980px){
    .MobileContainer{
        display: flex;
    }
}

