.card{
    max-width: 350px;
    height: 350px;
    border-radius: 30px;
    flex: 1 1 280px;
}
.img{
    margin-top: 30px;
    width: 350px;
    height: 350px;
    border-radius: 30px;
}
.treats{
    margin-top: 40px;
    max-width: 1280px;
    height: 500px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 100px;
}
.info{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.title{
    font-size: 24px;
    text-align: left;
    font-family: "Inter", sans-serif;
    color: white;
    text-align: center;
}

@media (max-width: 1250px){
    .treats{
        height: 1000px;
        align-content: flex-start;
    }
}
@media (max-width: 800px){
    .treats{
        height: 1400px;
    }
}