.aboutUs{
    margin: 0 auto;
    max-width: 1280px;
    height: 455px;
    background-image: url(/public/img/AboutUs.png);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 20px;
    display: flex;
    align-items: center;
}
.container{
    width: 350px;
    height: 350px;
    margin: 0 auto;
    backdrop-filter: blur(10px);
    z-index: 2;
    border-radius: 30px;
}
.title{
    font-style: 48px;
}
.text{
    margin: 0;
    font-size: 24px;
}
.btn{
    width: 195px;
    height: 60px;
    background-color: #933C24;
    color: white;
    border: none;
    font-size: 24px;
}
.btn:hover{
    transition: all 0.5s;
    transform: scale(1.1);
}