.card{
    width: 250px;
    height: 300px;
    background-image: url(/img/cardBgi.png);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 30px;
}
.card:hover{
    cursor: pointer;
    transition: all 0.5s;
    transform: scale(1.1);
}
.img{
    width: 150px;
    height: 150px;
}
.cardPrice{
    text-align: left;
    font-size: 24px;
}

.cardInfo{
    display: flex;
    height: 90px;
    align-items: center;
    justify-content: space-around;
}
.cardName{
    font-size: 22px;
    text-align: left;
    font-family: "Inter", sans-serif;
}
.cardButton{
    background-color: #E9BD8C;
    color: white;
    width: 70px;
    height: 40px;
    padding: 0;
}
.products{
    margin-top: 80px;
    width: 1100px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 20px;
}