.card{
    display: flex;
    max-width: 330px;
    justify-content: space-between;
    align-items: center;
}
.img{
    margin-top: 30px;
    width: 100px;
    height: 70px;
    border-radius: 30px;
}
.title{
    font-size: 18px;
    text-align: left;
    font-family: "Poppins", sans-serif;
    color: #E9BD8C;
    text-align: left;
    margin: 0;
}
.text{
    font-size: 24px;
    font-family: "Poppins", sans-serif;
    color: white;
    text-align: left;
    margin: 0;
}
