.MenuItem{
    padding-right: 20px;
    font-size: 22px;
    font-weight: bold;
    cursor: pointer;
    font-family: "Poppins", sans-serif;
}
.MenuItem:last-child{
    padding-right: 0;
}
.MenuItem:first-child{
    padding-left: 70px;
}
.MenuItem:hover{
    transition: all 0.5s;
    transform: scale(1.1);
    color: #E9BD8C;
}