.BlogContainer{
    max-width: 1280px;
    margin: 0 auto;
}
.headContainer{
    background-image: url(../BlogComponentImage/BlogBGI.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 650px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.InfoContainer{
    max-width: 600px;
}
.title{
    color: #E9BD8C;
    margin-bottom: 0;
    font-size: 64px;
}
.text{
    font-size: 20px;
}
.SearchContainer{
    max-width: 600px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    background-color: white;
    margin: 0 auto;
    border-radius: 10px;
    
}
.input{
    padding-left: 20px;
    outline: none;
    color: black;
    max-width: 350px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border: none;
    background-color: white;
}
.SearchIcon{
    width: 55px;
    backdrop-filter: blur(10px);
    background: linear-gradient(rgba(233, 189, 140, 0.5), rgba(233, 189, 140, 0.3));
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}