.footerTop{
    padding-top: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.img{
    width: 100px;
    height: 100px;
}
.text{
    font-size: 24px;
    color: #E9BD8D;
}
.link{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.icon{
    cursor: pointer;
    width: 40px;
    height: 40px;
    padding-left: 10px;
}
.icon:hover{
    transition: all 0.5s;
    transform: scale(1.1);
}